.field{
    width: 100%;
}
.card{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2e2e2e2;

}
.container{
    margin-top: 10px;
}
.card h3{
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-center button{
    margin: 5px;
}